{% extends "base.html" %}

{% block headtitle %} | Set Password{% endblock headtitle %}

{% block head_title %}Set Password{% endblock %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Set Password</h1>

		<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="action" value="Set Password"/>
		</form>

    </div>
</div>
{% endblock innercontent %}
